{% extends 'base.html' %}

{% block body %}

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Guns</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/examine">Examine Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/see">See the Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign_out">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<main class='examine_data_main'>

  <div>
    <h2 class='center'>Deaths By Year</h2>
    <p class='center'>(years are 2012-2014)</p>
    <form>
    <label>Enter Year: </label><input type="text" id='a' name='a'>
    <p>Result: <span id="result">?</span></p>
    <button>Get Data!</button>
    <!-- <p><a href=# id="year">Calculate Gun Deaths by year</a></p> -->
    </form>
  </div>

  <div>
  </div>
  
  <div>
  </div>

</main>

<script type="text/javascript">

  $(document).ready(function(){
    $('form').bind('submit', function(event){
      event.preventDefault();
      $.ajax({
        data: {
          a: $('#a').val()
        },
        type: 'POST',
        url: '/by_year',
        success: function(data){
          $('#result').text(data.result).show();
        }
      });
    });
  });

</script>

{% endblock %}