{% extends 'base.html' %}

{% block body %}

<main class='login_main'>

  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endfor %}

  <div class='login_form_div'>
    <form method="POST">
      <h1 class='center'>Gun Study</h1>
      <label>Username: </label><input name='username' type='text'/>
      <label>Password: </label><input name='password' type='password'/>
      <div class='submit_fix'>
        <button><a href="/home">Login</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button><a href="/signup">Sign up</a></button>
      </div>
    </form>
  </div>

</main>


{% endblock %}