{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css" type="text/css" />   
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>

<nav class="navbar-fixed navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/home">Guns</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/examine">Examine Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/see">See the Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sign_out">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<main class='see_main'>

  <h1 class='center'>See the Data</h1>
  <p class='center'>Here the user will visually see the graphs of the data</p>

  <hr>

  <div class='graph_area'>
    <h1>Graph of deaths by year</h1>
    <!-- <div class="test bk-root"> -->
    <div class='graph_fix'>
        <div class="bk-plotdiv" id="e8cf8e4b-a42a-4d4d-b18f-d4fdaf50a965"></div>
    </div>
  </div>

  <div class='graph_area'>
    <h1>Graph of deaths by type</h1>
    <div id="typebarchart"><svg style="width:400px;height:400px;"></svg></div>
  </div>

  <div class='graph_area'>
    <h1>Graph of deaths by location</h1>
    <div id="locationbarchart"><svg style="width:800px;height:500px;"></svg></div>
  </div>

  <div class='graph_area'>
    <h1>Graph of deaths by location</h1>
    <div id="locationbarchart"><svg style="width:800px;height:500px;"></svg></div>
  </div>

</main>

<footer>
    Copyright &copy; 2017 Mike Cuddy Productions
    <br/>
    <p>
        <a href="https://github.com/ravenusmc"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/mcuddy1/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </p>
</footer>


<script src='{{ url_for('static', filename='js/byYearGraph.js') }}'></script>
<script src='{{ url_for('static', filename='js/bytype.js') }}'></script>
<script src='{{ url_for('static', filename='js/byLocation.js') }}'></script>
{% endblock %}